/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color:linear-gradient(to right, hsl(190, 47%, 85%), hsl(197, 26%, 59%));
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, hsl(279, 80%, 66%), hsl(32, 71%, 63%));
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 15px 15px;
}

footer {
    background: linear-gradient(to right, #656e78, #495057);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}